.upperCase
{
	text-transform: uppercase;
}

.gray
{
	color: gray;
}
.margin2
{
	margin-top: 2%;
}
.marginTop20
{
	margin-top: 20%;
}
.marginTop30
{
	margin-top: 30%;
}
.noMarginBottom
{
	margin-bottom: 0%;
}
.marginBottom50
{
	margin-bottom: 50%;
}
.black
{
	background-color: black; 
}
.bg-gray
{
	background-color: #EBEDE6;
}
.bg-blue
{
	background-color: blue;
}
.absolute
{
	position: absolute;
	margin-top:	5%;
	width: 100%;
	height: 85%;
}
.marginTop
{
	margin-top: 15%;
}

.texteCarousel
{
	padding: 10%;
}